<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
</head>
<body>
    <h1 th:text="${book.title}">Book Title</h1>
    <p th:text="${book.description}">Description of the book</p>
    <p>Number of Pages: <span th:text="${book.numOfPages}">Pages</span></p>
    <h3>Authors:</h3>
    <ul>
        <li th:each="author : ${book.authors}" th:text="${author}">Author Name</li>
    </ul>
    <a href="/home">Back to Book List</a>
</body>
</html>
